.jumbotron{
    background-color: lightblue;
    color: black;
    margin-top:50px;
}
.breadcrumb-icon{
    margin-right: 2px;
    fill: black;
}
.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 0px 0px;
    margin-top: 10px;
}
.boton-reserva{
    background-color: darkblue;
    opacity: 0.5;
    color:white;
    width: 100%;
    position: relative;
    left: 0;
    bottom:0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style:none;
}
.boton-reserva:hover{
    opacity: 0.7;
}

footer{
    
    padding: 10px 10px 0px 10px;
    margin-top:1.5em;
    background-color: lightgray;
    position: relative;
    bottom: 0px;
    width: 100%;
}
.footer-address-icon{
    padding-right:10px;
}
